body{
	background: white;
}
#containerbox{
	width:100%;
	background: #fff;
}
#container{
	width:1080px;
	height: auto;
	margin:0 auto;
	padding-top:30px;
}
#shopping ul{
	width:100%;
	overflow: hidden;

}
#shopping ul li{
	float:left;
	margin:0 50px;
}
#shopping ul li a{
	font-size: 12px;
	color:#666;
	display: block;
	width:255px;
	height: 334px;
	border: 1px solid #eeeeee;
	margin-top:20px;
}
#shopping ul li a:hover{
	border:1px solid #ff4965;
}
#shopping ul li a img{
	width:254px;
}
#shopping ul li a .num{
	box-sizing: border-box;
	width:100%;
	height: 64px;
	margin-top:10px;
	padding:0 10px 14px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#shopping ul li a .num .title{
	white-space: nowrap;
}
#shopping ul li a .num p{
	margin-top:15px;
}
#shopping ul li a .num p .span1{
	font-size: 14px;
	color:#ff4965;
}
#shopping ul li a .num p .span2{
	font-size: 26px;
	font-weight: bold;
	color:#ff4965;
}
#shopping ul li a .num p .span3{
	font-size: 16px;
	font-weight: bold;
	color:#ff4965;
}

#page{
	width:570px;
	height: 50px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#page a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	border:1px solid #ccc;
	border-radius: 50%;
	font-size:12px;
	color:#666;
}
#page a:nth-child(1){
	background: #ff5482;
}
#page a:nth-child(8){
	width:44px;
	border-radius: 16px;
}#page a:nth-child(9){
	width:66px;
	border-radius: 24px;
}
#page a:hover{
	border:1px solid #ff5482;
}