html,body,h1,h2,h4,header{
    padding:0;
    margin: 0;
}
html,body{
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    /*height: 80px;*/
    background: #7ab5e9;
    color:#aaa;
}
nav ul li{
    float: left;
    margin-left: 20px;
    color:#000;
    line-height: 80px;
}
h1 {
    width: 550px;
    font-size: 22px;
    line-height: 88px;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
}
.container-fluid{
    margin-top:10px;
}
.list h2{
    padding-right: 10px;
    text-align: right;
    border: 1px solid #d6d6d6;
    background: url(../img/cx.jpg) repeat-x left bottom;
}
.list h2 span {
    display: inline-block;
    width: 86px;
    height: 28px;
    padding-right: 8px;
    margin-top: 6px;
    background: url(../img/tj.jpg) no-repeat center;
}
.list h2 span a {
    display: block;
    width: 86px;
    height: 28px;
}
.list h2 span:nth-child(2) {
    width: 52px;
    height: 14px;
    padding-right: 34px;
    margin-top: 0;
    margin-bottom: 6px;
    border-left: 1px solid #d6d6d6;
    background: url(../img/sc.jpg) no-repeat center;
}
.list table th,td{
    text-align: center;
}
.list #xg{
    cursor: pointer;
}
