
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494472819824'); /* IE9*/
  src: url('iconfont.eot?t=1494472819824#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494472819824') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494472819824') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494472819824#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before { content: "\e634"; }

.icon-shouc01:before { content: "\e61f"; }

.icon-kefu:before { content: "\e602"; }

.icon-downjiantou:before { content: "\e606"; }

.icon-gouwuchexin:before { content: "\e683"; }

.icon-gouwuche:before { content: "\e79c"; }

.icon-pinzhibaozhang:before { content: "\e665"; }

.icon-fanhuidingbu:before { content: "\e60a"; }

.icon-dianhuazixun:before { content: "\e605"; }

.icon-koubei:before { content: "\e61b"; }

.icon-xiangshangjiantou:before { content: "\e663"; }

.icon-sp-xq:before { content: "\e636"; }

