<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2017夏季新款双鱼儿童T恤短袖套装宝宝纯棉童装薄</title>
    <link rel="stylesheet" type="text/css" href="../css/kind1-1.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css">      

    <script src="../lib/jquery/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../lib/cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../lib/template/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/kind1-1.js"></script>
    <script src="../js/add_cart.js"></script>

</head>
<body> 
    <div id="headerbox">
        <header>
            <ul>
                <li>你好，欢迎来到母婴之家！</li>
                <li><a href="zhuce.html#denglu">登录</a></li>
                <li><a href="zhuce.html">免费注册</a></li>
                <li><a href="">帮助中心</a></li>            
            </ul>
        </header>
    </div>

    <div id="topbox">
        <div id="top">
            <div class="logo">
                <a href="../index.html"><img src="../img/logo.png"></a>
            </div>
            <div class="top_right">
                <div class="search">
                    <form>
                        <input type="text" placeholder="搜索 母婴之家 商品/品牌">
                        <a href=""><i class="iconfont icon-fangdajing"></i></a>
                    </form>
                </div>
                <div class="shoppingCar">
                    <a href="cart.html"><b><i class="iconfont icon-gouwuche"></i></b>我的购物车</a>
                    <div class="CarInfor">
                        购物车还没有商品，快去选购吧！
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--导航栏-->
    <div id="navbox">
        <nav>
            <ul>
                <li class="first"><a href="javaScript:void(0)">全部商品分类 <i class="iconfont icon-downjiantou"></i><i class="iconfont icon-xiangshangjiantou"></i></a>
                    <div class="kind">
                        <ul class="list">
                            <li class="current">热销分类</li>
                            <li class="s">奶粉辅食</li>
                            <li>纸尿裤</li>
                            <li>婴儿装</li>
                            <li>儿童服饰</li>
                            <li>婴童鞋</li>
                            <li>哺育喂养</li>                            
                            <li>孕妈专区</li>                                                     
                        </ul>
                        <div class="goods" style="display:block;">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-2.jpg">
                                    <label>套装</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-2.jpg">
                                    <label>奶粉</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-3.jpg">
                                    <label>奶瓶</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind2-1.jpg">
                                    <label>雀巢</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-2.jpg">
                                    <label>奶粉</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind2-2.jpg">
                                    <label>清火奶伴</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind2-1.jpg">
                                    <label>雀巢</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind2-2.jpg">
                                    <label>清火奶伴</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-1.jpg">
                                    <label>哈衣趴服</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-2.jpg">
                                    <label>套装</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-3.jpg">
                                    <label>T恤上衣</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-4.jpg">
                                    <label>婴儿外套</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-2.jpg">
                                    <label>奶粉</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-2.jpg">
                                    <label>奶粉</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-3.jpg">
                                    <label>奶瓶</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-3.jpg">
                                    <label>奶瓶</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind2-1.jpg">
                                    <label>雀巢</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-2.jpg">
                                    <label>奶粉</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind2-2.jpg">
                                    <label>清火奶伴</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind2-1.jpg">
                                    <label>雀巢</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind2-2.jpg">
                                    <label>清火奶伴</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind1-1.jpg">
                                    <label>纸尿裤</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="goods">
                            <ul>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-1.jpg">
                                    <label>哈衣趴服</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="kind.html"><img src="../img/kind3-2.jpg">
                                    <label>套装</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind3-3.jpg">
                                    <label>T恤上衣</label>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><img src="../img/kind3-4.jpg">
                                    <label>婴儿外套</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="../index.html">首页</a></li>
                <li><a href="">奶粉</a></li>
                <li><a href="">纸尿裤</a></li>         
                <li><a href="">会员俱乐部</a></li>
                <li class="last"><a href="javaScript:void(0)">性别年龄 <i class="iconfont icon-downjiantou"></i></a>
                    <div class="sexAge">
                        <h5>男孩</h5>
                        <p>
                            <a href="baby1-3.html">0-1岁</a>
                            <a href="baby1-3.html">1-3岁</a>
                            <a href="baby1-3.html">3-6岁</a>
                            <a href="baby1-3.html">6-9岁</a>
                            <a href="baby1-3.html">9-12岁</a>
                        </p>
                        <h5>女孩</h5> 
                        <p>
                            <a href="baby1-3.html">0-1岁</a>
                            <a href="baby1-3.html">1-3岁</a>
                            <a href="baby1-3.html">3-6岁</a>
                            <a href="baby1-3.html">6-9岁</a>
                            <a href="baby1-3.html">9-12岁</a>
                        </p>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <!--导航栏以下的内容--> 
    <div id="contentbox">

    </div>

     <div class="bottom">
		<div class="bottom1">
			<ul>
				<li><a href="../index.html">首页</a></li>
				<li><a href="">关于母婴之家</a></li>
				<li><a href="">帮助中心</a></li>
				<li><a href="">正品保障</a></li>
				<li><a href="">关于母婴之家</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">正品保障</a></li>
                <li><a href="">关于母婴之家</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">正品保障</a></li>
			</ul>
		</div>
		<p>&copy;2017 母婴之家 All Rights Reserved. 客服热线：1010-8080</p>
	</div>

    <!--右边导航栏-->
    <div id="side-panel">
        <div class="panel">
            <i class="iconfont icon-gouwuchexin"></i>
            <div class="panel1">
                <a href="cart.html">购物车</a>
            </div>
        </div>
        <div class="panel">
            <i class="iconfont icon-shouc01"></i>
            <div class="panel1">
                <a href="">收藏</a>
            </div>
        </div>
        <div class="kf">
            <div class="panel">
                <i class="iconfont icon-kefu"></i>
                <div class="panel1">
                    <a href="">客服</a>
                </div>
            </div>
            <div class="phone"></div>
        </div>
        
        <div class="panel">
            <i class="iconfont icon-fanhuidingbu"></i>
            <div class="panel1">
                <a href="#headerbox">回到顶部</a>
            </div>
        </div>
    </div>


    <!-- 使用 artTemplate，定义显示商品详情的模板 -->
    <script type="text/html" id="productInfo_temp"> 
        <div id="tag">
            <a href="../index.html">首页</a> &gt;
            <a target="_blank" href="<%=products[0].url%>" title="<%=products[0].kind%>"><%=products[0].kind%></a>&gt;
            <%= products[0].product_name%>       
        </div> 
        <div id="show">
            <!--左边商品图片展示-->
            <div class="show_left">
                <div class="show_left1">
                    <% for(var i=0;i < products.length; i++) { var p = products[i].product_img.split("&"); %>
                        <% if(i === 0) {%>
                            <img src="../<%=p[1]%>" class="cur">
                        <% }else{ %>
                            <img src="../<%=p[1]%>">
                        <% } %>
                    <% } %>                
                    <div class="glass"></div>
                </div>
                <div class="big">
                    <% for(var i=0;i < products.length; i++) { var p = products[i].product_img.split("&"); %>
                        <% if(i === 0) {%>
                            <img src="../<%=p[1]%>" class="cur">
                        <% }else{ %>
                            <img src="../<%=p[1]%>">
                        <% } %>
                    <% } %>
                                    
                </div>
                <div class="show_left2">
                    <% for(var i=0;i < products.length; i++) { var p = products[i].product_img.split("&"); %>
                        <% if(i === 0) {%>
                            <a href="javaScript:void(0);" class="selected"><img src="../<%=p[0]%>"></a>
                        <% }else{ %>
                            <a href="javaScript:void(0);"><img src="../<%=p[0]%>"></a>
                        <% } %>
                    <% } %>
                                                                                                  
                </div>
            </div>
            <!--右边对商品进行文字方面的描述信息-->
            <div class="show_right">
                <div class="title">
                    <span><%=products[0].product_name%></span>
                    <div class="info">
                        <%=products[0].product_info%>
                    </div>
                </div>
                <div class="price_info">
                    <span class="tit_txt">售价</span>
                    <span class="price_num"> <i>¥</i> <em id="item_price"><%=products[0].product_price%></em></span>
                    <% if(products[0].product_tax >0 || products[0].product_tax != null) {%>
                        <span class="jks">进口税<span class="layer_shui">据国家政策规定，本商品适用于“跨境综合税”，实际结算税费以提交订单时的实付金额明细为准</span></span>
                    <% } %> 
                    <div class="youhui">
                        <span class="tit_txt">优惠</span>
                        <span class="yh_mark">限时特惠 &nbsp; 包邮</span>
                    </div>
                </div>
                <div class="pr_box">
                    <% if(products[0].product_gz==0) {%>
                        <dl>
                            <dt class="tit_txt">颜色</dt>
                            <dd id="sel1">
                                <% for(var i=0;i < products.length; i++) { var p = products[i].product_img.split("&"),p1 = products[i].product_color; %>
                                    <% if(i === 0) {%>
                                        <a href="javaScript:void(0);" class="selected" style="border-color:#f43499">
                                            <img src="../<%=p[0]%>">
                                            <span class="word"><%=p1%></span>
                                            <span class="i_selected"></span>
                                        </a>
                                    <% }else{ %>
                                        <a href="javaScript:void(0);" class="selected">
                                            <img src="../<%=p[0]%>">
                                            <span class="word"><%=p1%></span>
                                            <span></span>
                                        </a>
                                    <% } %>
                                <% } %>

                            </dd>   
                        </dl>
                        <dl>
                            <dt class="tit_txt">尺码</dt>
                            <dd id="sel2">
                                <% var p = products[0].product_size.split("&"); for(var i=0;i < p.length; i++) { %>
                                    <% if(i === 0) {%>
                                        <a href="javaScript:void(0);" class="selected" style="border-color:#f43499">
                                            <em><%=p[i]%></em>
                                            <span class="i_selected"></span>
                                        </a>
                                    <% }else{ %>
                                        <a href="javaScript:void(0);">
                                            <em><%=p[i]%></em>
                                            <span></span>
                                        </a>
                                    <% } %>
                                <% } %>
                            </dd>
                        </dl>
                    <% } %>
                    <% if(products[0].product_gz==1) {%>
                        <dl>
                            <dt class="tit_txt">套装</dt>
                            <dd>
                                <a href="javaScript:void(0);" class="selected" style="width:66px;height:46px;border:2px solid #f43499;font-size:12px;padding:0;">
                                    <em><%=products[0].sale_amount%></em>件套￥<%=products[0].product_price/products[0].sale_amount%>/件
                                    <span class="i_selected"></span>
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="tit_txt">可选</dt>
                            <dd id="sel1">
                                <a href="javaScript:void(0);" title="2罐" class="selected" style="width:50px;height:48px;border:2px solid #f43499;">
                                    <img src="../img/block1-1.jpg" style="width:42px;height:40px;">
                                    <span class="i_selected"></span>
                                </a>
                            </dd>
                        </dl>
                    <% } %>
                    <dl class="num">
                        <dt class="tit_txt">数量</dt>
                        <dd class="num_select">
                            <span class="reduce">-</span>
                            <em id="buyAmount">1</em>
                            <span class="add">+</span>
                        </dd>
                    </dl>
                    <div class="cart_collect">
                        <a href="javaScript:void(0);" id="cart">加入购物车</a>
                        <a href="javaScript:void(0);" id="collect"><i class="iconfont icon-shouc01"></i> <span>收藏</span></a>                        
                    </div>
                    <div class="other">
                        编号:<span class="g_id"><%=products[0].product_id%></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div class="nav-bar">
                <ul>
                    <li class="current"><i class="iconfont icon-sp-xq"></i> 商品详情</li>
                    <li><i class="iconfont icon-koubei"></i> 买家口碑</li>
                    <li><i class="iconfont icon-dianhuazixun"></i> 问题咨询</li>
                    <li><i class="iconfont icon-pinzhibaozhang"></i> 品质保障</li>
                </ul>
            </div>
            <!--商品详情--> 
            <div class="view-cont floor">
                <!--商品参数-->
                <div class="product_param">
                    <h3>商品参数</h3>
                    <ul>
                        <% if(products[0].product_param != null){%>
                            <%var details = products[0].product_param.split(";"); for(var i=0;i<details.length;i++) { var d = details[i].split(":");%>
                                <li><b><%=d[0]%></b><span title="<%=d[1]%>"><%=d[1]%></span></li>                            
                            <% } %>
                        <% }%>
                                <!--<li>空</li>                            -->
                           
                    </ul>
                </div>
                <% if(products[0].product_gz==0 && products[0].product_sizeInfo != null) {%>
                    <!--商品尺码-->
                    <h3>商品尺码</h3>
                    <p class="m-size-tip">Tips:请综合参考尺码表各项参数进行选购，以帮助您选择到更合适的尺码。</p>
                    <p class="m-size-tip">尺码对照表</p>
                    <table id="itemSizeTable">
                        <thead>
                            <tr>
                                <%var sizes = products[0].product_sizeInfo.split(";"); for(var i=0;i<sizes.length;i++) { var s = sizes[i].split(":");%>
                                    <td width="9%"><%=s[0]%></td>                                
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<% var si = products[0].product_sizeInfo.split(";");var k=si[0].split(":");var s0=k[1].split("/"); for(var j =0;j<4;j++){ %>-->
                            <tr>
                                <%var sizes = products[0].product_sizeInfo.split(";"); for(var i=0;i<sizes.length;i++) { var s = sizes[i].split(":"),s1=s[1].split("/");%>                                
                                    <td><%=s1[j]%></td>
                                <% } %>                                
                            </tr>
                            <!--<% } %> -->
                        </tbody>
                    </table>
                <% } %>
                <!--商品详情-->
                <h3>商品详情</h3>
                <div class="content">
                    <% if(products[0].product_details != null){%>
                        <% var imgs = products[0].product_details.split("&"); for(var i=0;i<imgs.length;i++) {%>
                            <img src="../<%=imgs[i]%>">                    
                        <% } %>
                    <% } else{%>
                        空
                    <% } %>
                </div>
            </div>
            <!--买家口碑-->
            <div class="comment floor">
                <h3 class="comment-title"><i class="iconfont icon-koubei"></i> 买家口碑</h3>
                <div class="comment_item">
                    <img src="../img/nocomment.png">
                </div>
            </div>
            <!--常见问题-->
            <div class="consult floor">
                <h3 class="consult-title"><i class="iconfont icon-dianhuazixun"></i> 问题咨询</h3>
                <div class="consult_item">
                    <div class="consult-header">
                        购买前如有问题，请向客服咨询：
                        <span>1010-8080</span>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">商品都是正品吗？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">请放心，母婴之家上所售卖的商品均经过品牌授权，确保正品，PICC中国人民财产保险公司为您购买的每一件商品进行承保。</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">如何选择尺码？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">品牌入驻商在详情页面会放置所售商品的尺码表，可能会存在1-2cm的正常误差范围。建议您以平时购买尺码对照选择，买家口碑处其他麻麻的评价也可供参考。如果实在拿不准，买大不买小~</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">订单什么时候发货？快递信息为什么没有更新？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">正常情况下，下单完成系统就会通知品牌入驻商开始发货。发货后，您可以在我的订单中查看发货状态。由于部分快递公司无法实时更新信息， 因此您看到的物流情况可能会有延迟。</div>
                    </div>
                     <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">订单使用什么快递发货？如何收费？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">品牌入驻商会在商品参数处填写默认快递，也会根据你的地址自动匹配当地运营较好的快递公司。如果有什么特殊需求，可在提交订单时备注。
母婴之家实行全场包邮，除部分偏远地区外（如新疆、西藏、内蒙古等），您无需承担邮费。</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">购买后不喜欢能退货吗？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">您签收商品之日起的7天之内，商品未经穿着不影响二次销售的情况下，母婴之家为您提供七天无理由退货服务。</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">有一些产品细节我该如何确认？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">我们已经在产品的购买页面，详尽的列出了套餐介绍及注意事项，如果您对此还有疑问，欢迎您随时拨打我们的客服电话：10108088，联系客服进行确认。</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">网站上显示的市场价和实体店的售价一致吗？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">母婴之家的市场价采集自品牌官网标价、专柜标价或由品牌入驻商提供。由于地区或时间的差异性，可能与您购物时的市场价不一致。标注的市场价仅供参考，不作为购物依据。</div>
                    </div>
                    <div class="consult-question">
                        <div class="consult-question-icon">Q</div>
                        <div class="consult-content">如果我不想要了可以退吗？</div>
                    </div>
                    <div class="consult-answer">
                        <div class="consult-answer-icon">A</div>
                        <div class="consult-content">我们部分服务是支持随时退和延时退的。但是订单一旦在服务商处开始消费或预约成功，平台将不再接受取消订单和退款处理。如果在合理时间内，您需要取消订单，请致电蜜芽客服申请取消并退款。</div>
                    </div>
                </div>
            </div>
            <!--品质保证-->
            <div class="pinzhi floor">
                <h3 class="pinzhi-title"><i class="iconfont icon-pinzhibaozhang"></i> 品质保障</h3>                
                <p>温馨提示：详情请查看产品包装文字、说明书与保修卡，或致电母婴之家客服热线垂询。</p>
                <div><img src="../img/pinzhi.png"></div>
            </div>
        </div>
    </script>
</body>
</html>